.thead-dark {
  background-color: #007bff;
  color: white;
}

.table-responsive {
  overflow-x: auto;
}

.table th, .table td {
  padding: 12px 15px;
}

.table td button {
  margin-right: 5px;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.mr-2 {
  margin-right: 0.5rem;
}
