<!----->>
<div class="container mt-4">
  <h2 class="text-center mb-4">{{ isEditMode ? 'Editar Producto' : 'Agregar Producto' }}</h2>

  <form [formGroup]="productoForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="producto">Producto</label>
      <input type="text" id="producto" class="form-control" formControlName="producto" />
      <div *ngIf="productoForm.controls['producto'].invalid && productoForm.controls['producto'].touched"
        class="text-danger">
        El nombre del producto es obligatorio.
      </div>
    </div>

    <div class="form-group">
      <label for="marca">Marca</label>
      <input type="text" id="marca" class="form-control" formControlName="marca" />
      <div *ngIf="productoForm.controls['marca'].invalid && productoForm.controls['marca'].touched" class="text-danger">
        La marca es obligatoria.
      </div>
    </div>

    <div class="form-group">
      <label for="costo">Costo</label>
      <input type="number" id="costo" class="form-control" formControlName="costo" step="0.5" />
      <div *ngIf="productoForm.controls['costo'].invalid && productoForm.controls['costo'].touched" class="text-danger">
        El costo es obligatorio y debe ser mayor a 0.
      </div>
    </div>

    <div class="form-group">
      <label for="estatus">Estatus</label>
      <select id="estatus" class="form-control" formControlName="estatus">
        <option value="A">Activo</option>
        <option value="I">Inactivo</option>
      </select>
    </div>

    <div class="form-group mt-4">
      <button type="submit" class="btn btn-success" [disabled]="productoForm.invalid">
        {{ isEditMode ? 'Actualizar Producto' : 'Agregar Producto' }}
      </button>
      <button type="button" class="btn btn-secondary ml-3" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>
